.header{
    font-size: 30px;
    height: 150px;
    color: white;
    /* background-color: brown; */
    /* background-image: url('https://images.unsplash.com/photo-1688362379203-9cdf13041d41?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80'); */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-size: 200px; */
}

h3{
    font-size: 30px;
    text-decoration: overline;
    font-family: 'Courier New', Courier, monospace;
}

.blog{
    margin: 20px;
    border: 10px solid tomato;
    box-shadow: 10px 10px 50px purple;
}

.second{
    /* display: none; */
    visibility: hidden;
}

.reiciendis{
    border: 2px solid purple;
    margin: 20px;
    display: inline-block;
}

li{
    margin: 20px;
    display: inline-block;
}